<app-header></app-header>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Survey</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void()" (click)="home()">Home</a>
        </li>
        <li class="breadcrumb-item active">Timeline</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
        <div class="col-12 col-sm-4 col-md-4">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <article class="blog-card">
                  <div class="blog-card__background">
                    <div class="card__background--wrapper">
                      <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                        <div class="card__background--layer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-card__head">
                    <span class="date__box">
                      <span class="date__day">11</span>
                      <span class="date__month">JAN</span>
                    </span>
                  </div>
                  <div class="blog-card__info">
                    <h5>HARVICK GETS WHAT HE NEEDS</h5>
                    <p>
                      <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                      <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                    <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                  </div>
                </article>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
