.angular-editor-textarea{
    color: black !important;
}
angular-editor{
    color: black !important;
}
.chat_send{
    width: 50% !important;
}
.take80{
    width: 80% !important;
}
.take100{
    width: 100% !important;
}
.take50{
    width: 50% !important;
}
.darkbtn-sec{
    background: #021645;
}
